[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "TDLM"]
	path = TDLM
	url = https://github.com/epivec/tdlm
	shallow = true
	registered = true
